/* CSS for the game area */
body {
    background-color: #000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#gameArea {
    position: relative;
    width: 90%;
    height: 80%;
    background-color: #f0f0f0;
    overflow: hidden;
}

#basket {
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 100px;
    height: 50px;
    background-color: #ff5733;
    border-radius: 10px;
    transition: left 0.1s ease;
}

.fallingItem {
    position: absolute;
    bottom: 100%;
    width: 50px;
    height: 50px;
    background-color: #00bfff;
    border-radius: 50%;
    animation: fall 4s infinite linear;
}

@keyframes fall {
    to {
        bottom: 0;
    }
}

#score, #timer {
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 10px;
    left: 20px;
}

#gameOverScreen {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
}

@media screen and (max-width: 768px) {
    #gameArea {
        width: 100%;
        height: 80%;
    }

    #basket {
        width: 80px;
        height: 40px;
    }

    .fallingItem {
        width: 40px;
        height: 40px;
    }
}
